@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    overflow-x: hidden;
}
.codeblock1 {
    width: 372.95px;
    height: 257.05px;
    border-radius: 100%;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    background: linear-gradient(
      123.77deg,
      #8a2be2 -6.46%,
      #ffa500 59.04%,
      #f8f8ff 124.53%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
  .codeblock2 {
    position: absolute;
    width: 372.95px;
    height: 257.05px;
    left: calc(50% - 372.95px / 2 - 76.53px);
    top: calc(50% - 257.05px / 2 - 47.47px);
    border-radius: 100%;
    background: linear-gradient(
      118.19deg,
      #1fa2ff -3.62%,
      #12d8fa 50.44%,
      #a6ffcb 104.51%
    );
    opacity: 0.2;
    filter: blur(34px);
    transform: matrix(1, 0, -0.03, 1, 0, 0);
  }
  .homepage-bg{
    background: url("../src/assets/Images/bghome.svg");
  }
  .vertical-dotted-line {
    border-left: 3px dotted rgba(0, 0, 0, 0.5) ;
    height: 50px; 
    margin: 10px 0; 
    padding-left: 10px;
    
  }
  .box_shadow{
    box-shadow: 15px 15px yellow;
  }
  .horizontal-dotted-line {
    border-bottom: 2px dotted rgba(0, 0, 0, 0.194) ;
    width: full; 
    margin: 10px 0; 
    padding-left: 10px;
    
  }
  .video-shadow{
    box-shadow: 10px -3px 100px 1px rgba(16, 16, 193, 0.523);
  }
  @keyframes spinner-bulqg1 {
    0% {
      clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    }
  
    12.5% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 0%,
        100% 0%,
        100% 0%
      );
    }
  
    25% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        100% 100%,
        100% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        50% 50%,
        0 0,
        50% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
  
    62.5% {
      clip-path: polygon(
        50% 50%,
        100% 0,
        100% 0%,
        100% 0%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
  
    75% {
      clip-path: polygon(
        50% 50%,
        100% 100%,
        100% 100%,
        100% 100%,
        100% 100%,
        50% 100%,
        0% 100%
      );
    }
  
    100% {
      clip-path: polygon(
        50% 50%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        50% 100%,
        0% 100%
      );
    }
  }
  
  @keyframes spinner-oaa3wk {
    0% {
      transform: scaleY(1) rotate(0deg);
    }
  
    49.99% {
      transform: scaleY(1) rotate(135deg);
    }
  
    50% {
      transform: scaleY(-1) rotate(0deg);
    }
  
    100% {
      transform: scaleY(-1) rotate(-135deg);
    }
  }

.form-style {
    @apply rounded-lg bg-richblack-900 p-3 text-[16px] leading-[24px] text-richblack-5 shadow-[2px_2px_0_0] shadow-white/50  focus:outline-none;
}
.form-style::placeholder {
  color: #a0aec0; /* Adjust this color to match your desired placeholder color */
}
.spinner {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 9px solid #f1f2ff;
  animation: spinner-bulqg1 0.8s infinite linear alternate,
    spinner-oaa3wk 1.6s infinite linear;
}
.section_heading {
  @apply text-2xl font-bold text-richblack-5 lg:text-4xl;
}
.demo{
  
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
  border-radius: 29px;
  /* padding: 11px 19px; */
  /* margin: 0 40px; */
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
    0 0 200px #0072ff;
    animation-delay: 0.3s;
}
@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}
